div#container {
    width: 73%; 
    border: none;
    margin: auto;
}
header {
    padding: 1em;
    color: white;
    background-color: #007196;
    clear: left;
    text-align: center;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    color:white;
    background-color: #007196;
    text-align: center;
}
nav {
    float: right;
    max-width: 160px;
    height: 164px;
    padding: 1em;
    border: solid #333
}


nav ul {
    list-style-type: none; 
    padding: 0;
}
nav ul a {
    text-decoration: none;
}
article {
    padding: 1em;
}
