header{
    width: 100%;
    height: 72px;
    background: rgb(255, 46, 46);
    padding-left: 150px;
}
nav{
    width: 100%;
    height: 75px;
    background: rgb(209, 43, 21);
    padding-left: 300px;
}
main{
    margin-top: 42px;
}
section{
}
article{
    width: 100%;
    height: 50px;
    background: rgb(99, 91, 25);
}
aside{
    width: 100%;
    height: 150px;
    background: rgb(47, 71, 37);
    margin-top: 42px;
}
footer{
    width: 100%;
    height: 100px;
    background: rgb(31, 48, 37);
}
